# eBay OAuth
EBAY_CLIENT_ID=your_ebay_client_id
EBAY_CLIENT_SECRET=your_ebay_client_secret
EBAY_REDIRECT_URI=https://yourapp.com/callback/ebay
EBAY_SANDBOX=true

# Shopify OAuth
SHOPIFY_API_KEY=your_shopify_api_key
SHOPIFY_API_SECRET=your_shopify_api_secret
SHOPIFY_REDIRECT_URI=https://yourapp.com/callback/shopify
SHOPIFY_SCOPES=read_orders,read_products,read_inventory

# Server
FLASK_SECRET_KEY=change-this-to-something-random
